PROVIDER_ENDPOINT=https://api.devnet.solana.com
PROVIDER_WS_ENDPOINT=wss://api.devnet.solana.com
EPHEMERAL_PROVIDER_ENDPOINT=https://devnet-as.magicblock.app/
EPHEMERAL_WS_ENDPOINT=wss://devnet-as.magicblock.app/
ER_VALIDATOR=MAS1Dt9qreoRMQ14YQuhg8UTZMMzDdKhmkZMECCzk57
MAGIC_ROUTER_ENDPOINT=https://devnet-router.magicblock.app
PROGRAM_ID=C6nt5YvgdgNKETYgHQF9Dm8XQdAreU3n5Pk4CHmrQVvu
